<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Customer</title>
    <th:block th:replace="/layout/head :: head"/>
    <style>
        .container > .table-title > .row > .col-sm-6 {
            padding-top: 25px;
        }

        .table thead {
            background-color: blue;
            color: white;
        }

        .container > .table-title > .row > .col-sm-6:nth-child(2) {
            text-align: right;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="table-title mb-4">
        <div class="row">
            <div class="col-sm-6">
                <h1>Create customer</h1>
            </div>
            <div class="col-sm-6">
                <a href="/customers" class="btn btn-outline-light">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <span>List of customers</span>
                </a>
            </div>
        </div>
    </div>
    <form method="post" th:action="@{/customers/create}" th:object="${customer}" novalidate="novalidate">
        <fieldset class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" th:field="*{fullName}">
            </div>
            <div class="col-md-6">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" th:field="*{email}">
            </div>
            <div class="col-md-6">
                <label class="form-label">Phone</label>
                <input type="tel" class="form-control" th:field="*{phone}">
            </div>
            <div class="col-md-6">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" th:field="*{address}">
            </div>
            <div class="col-md-12">
                <button type="submit" id="btnCreateCustomer" class="btn btn-outline-primary" onclick="create()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Create customer
                </button>
            </div>
        </fieldset>
    </form>
</div>
<div class="alert" style="position: fixed; bottom: 0">
    <th:block th:if="${message}">
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span th:text="${message}"></span>
        </div>
    </th:block>
    <th:block th:if="${error}">
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert">&times;</button>
            <span th:text="${error}"></span>
        </div>
    </th:block>
</div>
</body>
<th:block th:replace="/layout/script :: script"/>
</html>

