*{
    box-sizing: border-box;
}
.container {
    max-width: 87%;
    margin: 0px 100px;
}
.container>.table-title {
    height: 100px;
    background-color: rgb(11, 137, 95);
    color: #ffffff;
}
.container>.table-title>.row {
    margin: 0;
}
.container>.table-title>.row>.col-sm-5,.col-sm-7 {
    padding-top: 25px;
}
.table thead {
    background-color: blue;
    color: white;
}
.container>.table-title>.row>.col-sm-5 {
    padding-left: 15px;
}
.container>.table-title>.row>.col-sm-7 {
    text-align: right;
}